@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-arrow-bottom:before {
  content: "\e901";
}

._icon-arrow-goto:before {
  content: "\e902";
}

._icon-clock:before {
  content: "\e903";
}

._icon-location:before {
  content: "\e904";
}

._icon-logo:before {
  content: "\e905";
}

._icon-mail:before {
  content: "\e906";
}

._icon-phone:before {
  content: "\e907";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #777777;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__close {
  background: url("../img/close.svg") 100% no-repeat;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -30px;
  right: 0px;
  opacity: 0.8;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
  position: relative;
}

.lock .popup__content {
  visibility: visible;
}

.popup__title:not(:last-child) {
  margin-bottom: 30px;
}

@supports (font-size: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem )) {
  .popup__title h3 {
    font-size: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem )) {
  .popup__title h3 {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 28);
  }
}

.form-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.form-popup__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 37px;
}

.form-popup .input-name__label {
  font-size: 1rem;
  line-height: 1.1875;
  color: #adadad;
  position: absolute;
  top: 5px;
  left: 0;
}

.form-popup .input-tel__label {
  font-size: 1rem;
  line-height: 1.1875;
  color: #adadad;
  position: absolute;
  top: 5px;
  left: 0;
}

.form-popup__input {
  width: 100%;
  border-bottom: 1px solid #777777;
  padding: 5px 0;
  outline: none;
  color: #393246;
  line-height: 1.5;
}

.form-popup__input:focus {
  border-bottom: 2px solid #393246;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-popup .form__error {
  position: absolute;
  left: 0;
  bottom: -15px;
  font-size: 0.8125rem;
  line-height: 1.1538461538;
  color: #eb5757;
}

.form-popup__bottom {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 34px;
     -moz-column-gap: 34px;
          column-gap: 34px;
  margin-top: 2.5rem;
}

.form-popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 22px 57px;
  background: #393246;
  border: 1px solid #393246;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-popup__button::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 0.75rem;
}

.form-popup__button:active {
  background: #63557c;
}

.form-popup__info {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.1538461538;
  color: #878787;
}

.form-popup__info a {
  text-decoration: underline;
}

.popup-thanks {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup-thanks__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup-thanks__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 607px;
  position: relative;
}

.lock .popup-thanks__content {
  visibility: visible;
}

.popup-thanks__close {
  background: url("../img/close.svg") 100% no-repeat;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -30px;
  right: 0px;
  opacity: 0.8;
}

.popup-thanks__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-thanks__img {
  width: 55px;
  height: 55px;
}

.popup-thanks__img:not(:last-child) {
  margin-bottom: 20px;
}

.popup-thanks__title {
  text-align: center;
}

.popup-thanks__title:not(:last-child) {
  margin-bottom: 20px;
}

@supports (font-size: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem )) {
  .popup-thanks__title h3 {
    font-size: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 1.875rem )) {
  .popup-thanks__title h3 {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 28);
  }
}

.popup-thanks__text {
  text-align: center;
  line-height: 1.5;
  max-width: 321px;
}

.popup-thanks__text:not(:last-child) {
  margin-bottom: 40px;
}

.popup-thanks__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
}

.popup-thanks__link {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #878787;
}

.popup_show .popup-thanks__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup_show.popup-thanks {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup-show.popup-thanks body::after {
  opacity: 1;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.callback__button,
.main-callback__button,
.portfolio__item-info p,
.portfolio__value,
.portfolio__title,
.spollers__title,
.main-block__content,
.menu__link,
h3,
h2,
.form-popup__button {
  font-family: "Roboto Condensed";
}

h2 {
  font-weight: 300;
  line-height: 1.175;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem )) {
  h2 {
    font-size: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem )) {
  h2 {
    font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 28);
  }
}

h3 {
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.header {
  border-bottom: 0.5px solid #878787;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
}

.header._header-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (min-height: clamp( 4.375rem , 2.8124302424rem  +  7.8128487879vw , 6.5625rem )) {
  .menu {
    min-height: clamp( 4.375rem , 2.8124302424rem  +  7.8128487879vw , 6.5625rem );
  }
}

@supports not (min-height: clamp( 4.375rem , 2.8124302424rem  +  7.8128487879vw , 6.5625rem )) {
  .menu {
    min-height: calc(4.375rem + 2.1875 * (100vw - 20rem) / 27.99875);
  }
}

@supports (min-height: clamp( 4.375rem , 3.7053272468rem  +  3.3483637662vw , 5.3125rem )) {
  .header._header-show .menu {
    min-height: clamp( 4.375rem , 3.7053272468rem  +  3.3483637662vw , 5.3125rem );
  }
}

@supports not (min-height: clamp( 4.375rem , 3.7053272468rem  +  3.3483637662vw , 5.3125rem )) {
  .header._header-show .menu {
    min-height: calc(4.375rem + 0.9375 * (100vw - 20rem) / 27.99875);
  }
}

.menu__logo {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-column-align: start;
      justify-self: start;
  position: relative;
  z-index: 15;
}

.menu__body {
  -ms-grid-column-span: 8;
  grid-column: span 8;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0px 10px;
}

@supports (height: clamp( 4.375rem , 3.7053272468rem  +  3.3483637662vw , 5.3125rem )) {
  .header._header-show .menu__body::before {
    height: clamp( 4.375rem , 3.7053272468rem  +  3.3483637662vw , 5.3125rem );
  }
}

@supports not (height: clamp( 4.375rem , 3.7053272468rem  +  3.3483637662vw , 5.3125rem )) {
  .header._header-show .menu__body::before {
    height: calc(4.375rem + 0.9375 * (100vw - 20rem) / 27.99875);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.menu__link {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._custom .menu__link {
  color: #777777;
}

.header._header-show .menu__link {
  color: #777777;
}

.menu-open .menu__link {
  color: #fff !important;
}

.menu__phone {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #fff;
  -ms-grid-column-align: start;
      justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 10.3125em;
  position: relative;
  z-index: 15;
  min-height: 22px;
}

.header._custom .menu__phone {
  color: #777777;
}

.header._header-show .menu__phone {
  color: #777777;
}

.menu-open .menu__phone {
  color: #fff !important;
}

@supports (font-size: clamp( 1rem , 0.9107102996rem  +  0.4464485022vw , 1.125rem )) {
  .menu__phone {
    font-size: clamp( 1rem , 0.9107102996rem  +  0.4464485022vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9107102996rem  +  0.4464485022vw , 1.125rem )) {
  .menu__phone {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 27.99875);
  }
}

._icon-logo::before {
  color: #fff;
  font-size: 2.8125rem;
}

.header._custom ._icon-logo::before {
  color: #393246;
}

.header._header-show ._icon-logo::before {
  color: #393246;
}

.menu-open ._icon-logo::before {
  color: #fff !important;
}

@supports (font-size: clamp( 1.875rem , 1.2053272468rem  +  3.3483637662vw , 2.8125rem )) {
  ._icon-logo::before {
    font-size: clamp( 1.875rem , 1.2053272468rem  +  3.3483637662vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.2053272468rem  +  3.3483637662vw , 2.8125rem )) {
  ._icon-logo::before {
    font-size: calc(1.875rem + 0.9375 * (100vw - 20rem) / 27.99875);
  }
}

._icon-phone::before {
  font-size: 1.3125rem;
  color: #fff;
}

.header._custom ._icon-phone::before {
  color: #393246;
}

.header._header-show ._icon-phone::before {
  color: #393246;
}

.menu-open ._icon-phone::before {
  color: #fff !important;
}

.icon-menu {
  display: none;
}

.go-top {
  display: none;
  border: 1px solid #d5d5d5;
  font-size: 1.25rem;
  color: #393246;
  padding: 5px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 60px;
  right: 15px;
}

.go-top_show {
  display: block;
}

.footer {
  padding: 95px 0;
  background: #f7f7f7;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.footer__links {
  font-size: 0.875rem;
  line-height: 114.2857142857%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer__link {
  min-height: 17px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-block {
  position: relative;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-block__image-ibg {
  width: 100%;
  min-height: 100vh;
}

.main-block__image-ibg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.main-block__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  max-width: 648px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
}

.main-block__title {
  line-height: 1.1714285714;
  letter-spacing: 0.08em;
  position: relative;
  -webkit-animation: main-title 1s 1 ease-in-out;
          animation: main-title 1s 1 ease-in-out;
}

@supports (font-size: clamp( 3.75rem , 0.1784119827rem  +  17.8579400866vw , 8.75rem )) {
  .main-block__title {
    font-size: clamp( 3.75rem , 0.1784119827rem  +  17.8579400866vw , 8.75rem );
  }
}

@supports not (font-size: clamp( 3.75rem , 0.1784119827rem  +  17.8579400866vw , 8.75rem )) {
  .main-block__title {
    font-size: calc(3.75rem + 5 * (100vw - 20rem) / 27.99875);
  }
}

.main-block__title:not(:last-child) {
  margin-bottom: 10px;
}

.main-block__text {
  letter-spacing: 0.12em;
  line-height: 150%;
  position: relative;
  -webkit-animation: main-text 1.5s 1 ease-in-out;
          animation: main-text 1.5s 1 ease-in-out;
}

@supports (font-size: clamp( 1rem , 0.8214205991rem  +  0.8928970043vw , 1.25rem )) {
  .main-block__text {
    font-size: clamp( 1rem , 0.8214205991rem  +  0.8928970043vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8214205991rem  +  0.8928970043vw , 1.25rem )) {
  .main-block__text {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 27.99875);
  }
}

@-webkit-keyframes main-title {
  0% {
    left: 0;
    top: -100vh;
  }

  100% {
    left: 0;
    top: 0;
  }
}

@keyframes main-title {
  0% {
    left: 0;
    top: -100vh;
  }

  100% {
    left: 0;
    top: 0;
  }
}

@-webkit-keyframes main-text {
  0% {
    left: 0;
    bottom: -100vh;
  }

  100% {
    left: 0;
    bottom: 0;
  }
}

@keyframes main-text {
  0% {
    left: 0;
    bottom: -100vh;
  }

  100% {
    left: 0;
    bottom: 0;
  }
}

@-webkit-keyframes main-scroll {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 10px, 0);
            transform: translate3d(-50%, 10px, 0);
  }
}

@keyframes main-scroll {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 10px, 0);
            transform: translate3d(-50%, 10px, 0);
  }
}

@supports (padding-top: clamp( 4.375rem , -10.625rem  +  31.25vw , 9.375rem )) {
  .main-our-team {
    padding-top: clamp( 4.375rem , -10.625rem  +  31.25vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 4.375rem , -10.625rem  +  31.25vw , 9.375rem )) {
  .main-our-team {
    padding-top: calc(4.375rem + 5 * (100vw - 48rem) / 16);
  }
}

@supports (padding-bottom: clamp( 4.375rem , -2.9375rem  +  15.234375vw , 6.8125rem )) {
  .main-our-team {
    padding-bottom: clamp( 4.375rem , -2.9375rem  +  15.234375vw , 6.8125rem );
  }
}

@supports not (padding-bottom: clamp( 4.375rem , -2.9375rem  +  15.234375vw , 6.8125rem )) {
  .main-our-team {
    padding-bottom: calc(4.375rem + 2.4375 * (100vw - 48rem) / 16);
  }
}

@supports (margin-bottom: clamp( 1.4375rem , 0.8440934066rem  +  2.967032967vw , 3.125rem )) {
  .main-our-team__title {
    margin-bottom: clamp( 1.4375rem , 0.8440934066rem  +  2.967032967vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.4375rem , 0.8440934066rem  +  2.967032967vw , 3.125rem )) {
  .main-our-team__title {
    margin-bottom: calc(1.4375rem + 1.6875 * (100vw - 20rem) / 56.875);
  }
}

.main-our-team__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

@supports (padding-right: clamp( 0.0000000625rem , -22.3689316657rem  +  34.9514558252vw , 4.5rem )) {
  .main-our-team__collumn:first-child {
    padding-right: clamp( 0.0000000625rem , -22.3689316657rem  +  34.9514558252vw , 4.5rem );
  }
}

@supports not (padding-right: clamp( 0.0000000625rem , -22.3689316657rem  +  34.9514558252vw , 4.5rem )) {
  .main-our-team__collumn:first-child {
    padding-right: calc(0.0000000625rem + 4.4999999375 * (100vw - 64rem) / 12.875);
  }
}

.main-our-team__subtitle {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  margin-bottom: 50px;
}

.main-our-team__image-ibg {
  width: 100%;
  height: 528px;
}

.spollers__item:last-child {
  border-bottom: 1px solid #d5d5d5;
}

.spollers__title {
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 26px 10px 26px 0;
  border-top: 1px solid #d5d5d5;
  position: relative;
  width: 100%;
  text-align: left;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (font-size: clamp( 1rem , 0.8214285714rem  +  0.8928571429vw , 1.25rem )) {
  .spollers__title {
    font-size: clamp( 1rem , 0.8214285714rem  +  0.8928571429vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8214285714rem  +  0.8928571429vw , 1.25rem )) {
  .spollers__title {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 28);
  }
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 30px;
  width: 30px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  background: url("../img/main/spoller-arrow.svg") center/12px 12px no-repeat;
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: translate(0, -50%) rotate(-90deg);
      -ms-transform: translate(0, -50%) rotate(-90deg);
          transform: translate(0, -50%) rotate(-90deg);
}

.spollers__body {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: -0.75rem;
  padding: 0 30px 25px 0;
}

.portfolio__title {
  text-align: center;
}

@supports (margin-bottom: clamp( 1.875rem , -1.875rem  +  7.8125vw , 3.125rem )) {
  .portfolio__title {
    margin-bottom: clamp( 1.875rem , -1.875rem  +  7.8125vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , -1.875rem  +  7.8125vw , 3.125rem )) {
  .portfolio__title {
    margin-bottom: calc(1.875rem + 1.25 * (100vw - 48rem) / 16);
  }
}

.portfolio__navigation {
  max-width: 714px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  padding: 9px 15px 9px 0;
  border-bottom: 1px solid #d5d5d5;
  overflow-x: auto;
}

.portfolio__navigation::-webkit-scrollbar {
  display: none;
}

@supports (margin-bottom: clamp( 1.875rem , 0.0000000625rem  +  3.90625vw , 2.5rem )) {
  .portfolio__navigation {
    margin-bottom: clamp( 1.875rem , 0.0000000625rem  +  3.90625vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.0000000625rem  +  3.90625vw , 2.5rem )) {
  .portfolio__navigation {
    margin-bottom: calc(1.875rem + 0.625 * (100vw - 48rem) / 16);
  }
}

.portfolio__title {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #393246;
  white-space: nowrap;
  position: relative;
  padding-right: 20px;
}

.portfolio__title._tab-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  left: 0;
  bottom: -9px;
}

.portfolio__value {
  position: absolute;
  top: -8px;
  right: 0px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.portfolio__body {
  text-align: center;
}

.portfolio__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.portfolio__item-info {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.portfolio__item-info p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.35;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
}

.portfolio__item-info p:not(:last-child) {
  margin-bottom: 10px;
}

.portfolio__item-info span {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #ffffff;
}

.portfolio__image-ibg {
  width: 100%;
}

.portfolio__image-ibg._mobile-tap::before {
  opacity: 1;
}

.portfolio__image-ibg._mobile-tap .portfolio__item-info {
  opacity: 1;
  visibility: visible;
}

.portfolio__image-ibg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

@supports (padding-top: clamp( 13.125rem , -7.6905339806rem  +  32.5242718447vw , 17.3125rem )) {
  .portfolio__image-ibg {
    padding-top: clamp( 13.125rem , -7.6905339806rem  +  32.5242718447vw , 17.3125rem );
  }
}

@supports not (padding-top: clamp( 13.125rem , -7.6905339806rem  +  32.5242718447vw , 17.3125rem )) {
  .portfolio__image-ibg {
    padding-top: calc(13.125rem + 4.1875 * (100vw - 64rem) / 12.875);
  }
}

.portfolio__items.all-category .portfolio__image-ibg:nth-child(1) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.portfolio__items.all-category .portfolio__image-ibg:nth-child(6) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.portfolio__items.all-category .portfolio__image-ibg:nth-child(7) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.portfolio__items.all-category .portfolio__image-ibg:nth-child(10) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.block__more {
  margin-top: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #393246;
  padding: 22px 54px;
  border: 1px solid #393246;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.block__more:active {
  background: #4a415a;
}

@supports (padding-top: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem )) {
  .main-callback {
    padding-top: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem )) {
  .main-callback {
    padding-top: calc(4.375rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem )) {
  .main-callback {
    padding-bottom: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem )) {
  .main-callback {
    padding-bottom: calc(4.375rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

.main-callback__popup {
  text-align: center;
}

.main-callback__button {
  font-weight: 300;
  line-height: 1.175;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border-bottom: 1px solid #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1rem , -0.0714285714rem  +  5.3571428571vw , 2.5rem )) {
  .main-callback__button {
    font-size: clamp( 1rem , -0.0714285714rem  +  5.3571428571vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1rem , -0.0714285714rem  +  5.3571428571vw , 2.5rem )) {
  .main-callback__button {
    font-size: calc(1rem + 1.5 * (100vw - 20rem) / 28);
  }
}

@supports (min-height: clamp( 1.125rem , -0.3035714286rem  +  7.1428571429vw , 3.125rem )) {
  .main-callback__button {
    min-height: clamp( 1.125rem , -0.3035714286rem  +  7.1428571429vw , 3.125rem );
  }
}

@supports not (min-height: clamp( 1.125rem , -0.3035714286rem  +  7.1428571429vw , 3.125rem )) {
  .main-callback__button {
    min-height: calc(1.125rem + 2 * (100vw - 20rem) / 28);
  }
}

.main-callback__button::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@supports (font-size: clamp( 1rem , 0.4642857143rem  +  2.6785714286vw , 1.75rem )) {
  .main-callback__button::before {
    font-size: clamp( 1rem , 0.4642857143rem  +  2.6785714286vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.4642857143rem  +  2.6785714286vw , 1.75rem )) {
  .main-callback__button::before {
    font-size: calc(1rem + 0.75 * (100vw - 20rem) / 28);
  }
}

.callback__popup {
  text-align: center;
}

.callback__button {
  font-weight: 300;
  line-height: 1.175;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border-bottom: 1px solid #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1rem , -0.0714285714rem  +  5.3571428571vw , 2.5rem )) {
  .callback__button {
    font-size: clamp( 1rem , -0.0714285714rem  +  5.3571428571vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1rem , -0.0714285714rem  +  5.3571428571vw , 2.5rem )) {
  .callback__button {
    font-size: calc(1rem + 1.5 * (100vw - 20rem) / 28);
  }
}

@supports (min-height: clamp( 1.125rem , -0.3035714286rem  +  7.1428571429vw , 3.125rem )) {
  .callback__button {
    min-height: clamp( 1.125rem , -0.3035714286rem  +  7.1428571429vw , 3.125rem );
  }
}

@supports not (min-height: clamp( 1.125rem , -0.3035714286rem  +  7.1428571429vw , 3.125rem )) {
  .callback__button {
    min-height: calc(1.125rem + 2 * (100vw - 20rem) / 28);
  }
}

.callback__button::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@supports (font-size: clamp( 1rem , 0.4642857143rem  +  2.6785714286vw , 1.75rem )) {
  .callback__button::before {
    font-size: clamp( 1rem , 0.4642857143rem  +  2.6785714286vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.4642857143rem  +  2.6785714286vw , 1.75rem )) {
  .callback__button::before {
    font-size: calc(1rem + 0.75 * (100vw - 20rem) / 28);
  }
}

.portfolio__block {
  padding-top: 200px;
}

@supports (padding-top: clamp( 7.5rem , 5.2272727273rem  +  11.3636363636vw , 12.5rem )) {
  .portfolio__block {
    padding-top: clamp( 7.5rem , 5.2272727273rem  +  11.3636363636vw , 12.5rem );
  }
}

@supports not (padding-top: clamp( 7.5rem , 5.2272727273rem  +  11.3636363636vw , 12.5rem )) {
  .portfolio__block {
    padding-top: calc(7.5rem + 5 * (100vw - 20rem) / 44);
  }
}

@supports (padding-top: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem )) {
  .portfolio-callback {
    padding-top: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem )) {
  .portfolio-callback {
    padding-top: calc(4.375rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem )) {
  .portfolio-callback {
    padding-bottom: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 4.375rem , 3.0563186813rem  +  6.5934065934vw , 8.125rem )) {
  .portfolio-callback {
    padding-bottom: calc(4.375rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@media (min-width: 47.99875em) {
  .form-popup {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .main-block::before {
    content: "";
    position: absolute;
    width: 7.36px;
    height: 40.5px;
    bottom: 11.125%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: url("../img/main/scroll.svg") 100% no-repeat;
    z-index: 1;
    -webkit-animation: main-scroll 1s infinite ease-in-out alternate 2s;
            animation: main-scroll 1s infinite ease-in-out alternate 2s;
  }
}

@media (max-width: 63.99875em) {
  .menu {
    -ms-grid-columns: minmax(30px, 45px) 1fr 40px;
    grid-template-columns: minmax(30px, 45px) 1fr 40px;
  }

@supports ((-moz-column-gap: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) or (column-gap: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem ))) {
    .menu {
      -webkit-column-gap: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem );
         -moz-column-gap: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem );
              column-gap: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) or (column-gap: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem ))) {
    .menu {
      -webkit-column-gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.875);
              column-gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

  .menu__logo {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.96);
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

@supports (padding-top: clamp( 11.5rem , 9.3021978022rem  +  10.989010989vw , 17.75rem )) {
    .menu__body {
      padding-top: clamp( 11.5rem , 9.3021978022rem  +  10.989010989vw , 17.75rem );
    }
}

@supports not (padding-top: clamp( 11.5rem , 9.3021978022rem  +  10.989010989vw , 17.75rem )) {
    .menu__body {
      padding-top: calc(11.5rem + 6.25 * (100vw - 20rem) / 56.875);
    }
}

  .menu-open .menu__body {
    visibility: visible;
    opacity: 1;
  }

  .menu-open .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 13;
    border-bottom: 0.5px solid #878787;
  }

@supports (height: clamp( 4.375rem , 2.8124302424rem  +  7.8128487879vw , 6.5625rem )) {
    .menu-open .menu__body::before {
      height: clamp( 4.375rem , 2.8124302424rem  +  7.8128487879vw , 6.5625rem );
    }
}

@supports not (height: clamp( 4.375rem , 2.8124302424rem  +  7.8128487879vw , 6.5625rem )) {
    .menu-open .menu__body::before {
      height: calc(4.375rem + 2.1875 * (100vw - 20rem) / 27.99875);
    }
}

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item {
    position: relative;
    left: -100%;
  }

  .menu-open .menu__item:nth-child(1) {
    -webkit-transition: left 0.3s ease 0.2s;
    -o-transition: left 0.3s ease 0.2s;
    transition: left 0.3s ease 0.2s;
    left: 0;
  }

  .menu-open .menu__item:nth-child(2) {
    -webkit-transition: left 0.3s ease 0.3s;
    -o-transition: left 0.3s ease 0.3s;
    transition: left 0.3s ease 0.3s;
    left: 0;
  }

  .menu-open .menu__item:nth-child(3) {
    -webkit-transition: left 0.3s ease 0.4s;
    -o-transition: left 0.3s ease 0.4s;
    transition: left 0.3s ease 0.4s;
    left: 0;
  }

  .menu-open .menu__item:nth-child(4) {
    -webkit-transition: left 0.3s ease 0.5s;
    -o-transition: left 0.3s ease 0.5s;
    transition: left 0.3s ease 0.5s;
    left: 0;
  }

  .menu-open .menu__item:nth-child(5) {
    -webkit-transition: left 0.3s ease 0.6s;
    -o-transition: left 0.3s ease 0.6s;
    transition: left 0.3s ease 0.6s;
    left: 0;
  }

  .menu-open .menu__item:nth-child(6) {
    -webkit-transition: left 0.3s ease 0.7s;
    -o-transition: left 0.3s ease 0.7s;
    transition: left 0.3s ease 0.7s;
    left: 0;
  }

  .menu__link {
    font-size: 1.25rem;
    line-height: 130%;
  }

  .menu__phone {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .menu__icon {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.25rem;
    cursor: pointer;
    z-index: 15;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .header._custom .icon-menu span,
  .header._custom .icon-menu::before,
  .header._custom .icon-menu::after {
    background-color: #393246;
  }

  .header._header-show .icon-menu span,
  .header._header-show .icon-menu::before,
  .header._header-show .icon-menu::after {
    background-color: #393246;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff !important;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-our-team__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

@supports (margin-bottom: clamp( 1.875rem , 2.6353021978rem  +  -0.989010989vw , 2.4375rem )) {
    .main-our-team__subtitle {
      margin-bottom: clamp( 1.875rem , 2.6353021978rem  +  -0.989010989vw , 2.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 2.6353021978rem  +  -0.989010989vw , 2.4375rem )) {
    .main-our-team__subtitle {
      margin-bottom: calc(2.4375rem + -0.5625 * (100vw - 20rem) / 56.875);
    }
}

  .portfolio__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

@supports (padding-top: clamp( 18.125rem , 12.12515625rem  +  12.5vw , 20.125rem )) {
    .portfolio__image-ibg {
      padding-top: clamp( 18.125rem , 12.12515625rem  +  12.5vw , 20.125rem );
    }
}

@supports not (padding-top: clamp( 18.125rem , 12.12515625rem  +  12.5vw , 20.125rem )) {
    .portfolio__image-ibg {
      padding-top: calc(18.125rem + 2 * (100vw - 47.99875rem) / 16);
    }
}
}

@media (max-width: 47.99875em) {
  .popup__content {
    padding: 15px;
  }

  .form-popup__bottom {
    margin-top: 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }

  .form-popup__button {
    width: 100%;
  }

  .popup-thanks__content {
    padding: 15px;
  }

  .popup-thanks__title:not(:last-child) {
    margin-bottom: 15px;
  }

  .popup-thanks__text:not(:last-child) {
    margin-bottom: 50px;
  }

  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .main-block__image-ibg img {
    -o-object-position: 55%;
       object-position: 55%;
  }

  .main-our-team__collumn:last-child {
    margin: 0 -15px;
  }

  .main-our-team__image-ibg {
    height: 0;
    padding-bottom: 70.625%;
  }

  .portfolio__navigation {
    margin: 0 -15px 30px 0;
  }
}

@media (max-width: 29.99875em) {
  .portfolio__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

@supports (padding-top: clamp( 18.125rem , 16.6963647931rem  +  7.1431760346vw , 20.125rem )) {
    .portfolio__image-ibg {
      padding-top: clamp( 18.125rem , 16.6963647931rem  +  7.1431760346vw , 20.125rem );
    }
}

@supports not (padding-top: clamp( 18.125rem , 16.6963647931rem  +  7.1431760346vw , 20.125rem )) {
    .portfolio__image-ibg {
      padding-top: calc(18.125rem + 2 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (any-hover: hover) {
  .form-popup__button:hover {
    background: #4a415a;
  }

  .popup-thanks__link:hover {
    text-decoration: underline;
  }

  .menu__link:hover {
    border-bottom: 1px solid #fff;
  }

  .header._header-show .menu__link:hover {
    border-bottom: 1px solid #393246;
    color: #393246;
  }

  .menu__phone:hover {
    border-bottom: 1px solid #fff;
  }

  .header._header-show .menu__phone:hover {
    border-bottom: 1px solid #393246;
    color: #393246;
  }

  .menu-open .menu__phone:hover {
    border-bottom: 1px solid #fff !important;
  }

  .footer__link:hover {
    color: #393246;
    border-bottom: 1px solid #393246;
  }

  .spollers__title:hover {
    color: #393246;
  }

  .portfolio__image-ibg:hover::before {
    opacity: 1;
  }

  .portfolio__image-ibg:hover .portfolio__item-info {
    opacity: 1;
    visibility: visible;
  }

  .block__more:hover {
    background: #393246;
    color: #ffffff;
  }

  .main-callback__button:hover {
    border-bottom: 1px solid #393246;
    color: #393246;
  }

  .callback__button:hover {
    border-bottom: 1px solid #393246;
    color: #393246;
  }
}